*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #d4cfff;
  font-family: Helvetica, sans-serif;
  padding: clamp(40px, 6vw, 60px) 20px 20px;
}

h1 {
  text-align: center;
  color: rgb(0, 0, 117);
}

.game-board .cell {
  background-color: beige;
  border: black;
}